<div class="mx-auto max-w-[30rem] flex flex-col flex-grow">
  <%= turbo_stream_from [current_user, "links"] %>
  
  <h1 class="text-xl font-semibold mb-3">URL Shortener</h1>

  <%= render "form", model: @link %>

  <div id="links" class="flex flex-col mt-6">
    <%= render @links.ordered, link: @link %>
  </div>
</div>