<div class="mx-auto max-w-[30rem] flex flex-col flex-grow">
  <h1 class="text-xl font-semibold mb-3">URL Shortener</h1>

  <%= render "form", model: @link %>

  <div class="flex flex-col mt-6">
    <h2 class="text-xl font-semibold mb-3">Recent Links</h2>
    <%= render @links.ordered, link: @link %>
  </div>
</div>