<div class="max-w-md mx-auto my-10 p-6 bg-white rounded shadow text-gray-800 font-sans">
  <p class="text-lg mb-4">Hello <%= @resource.email %>!</p>

  <p class="mb-4">We're contacting you to notify you that your password has been changed.</p>
</div>
