<div class="max-w-md mx-auto my-10 p-6 bg-white rounded shadow text-gray-800 font-sans">
  <p class="text-lg mb-4">Hello <%= @resource.email %>!</p>

  <p class="mb-4">Someone has requested a link to change your password. You can do this through the link below.</p>

  <p class="mb-4">
    <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: "inline-block bg-blue-600 text-white font-semibold px-4 py-2 rounded hover:bg-blue-700 transition" %>
  </p>

  <p class="mb-2">If you didn't request this, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>
</div>
